body {
  background-image: linear-gradient(
    -90deg,
    rgb(185, 191, 190),
    rgb(164, 216, 216)
  );
}

.place {
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: rgb(52, 119, 226);
  color: white;
  padding-top: 8rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border-radius: 20px;
}
.place:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(29, 1, 89);
}

.location-img:hover {
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}
